<h1>Listing skillset_roles</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @skillset_roles.each do |skillset_role| %>
  <tr>
    <td><%= skillset_role.name %></td>
    <td><%= skillset_role.memo %></td>
    <td><%= link_to 'Show', skillset_role %></td>
    <td><%= link_to 'Edit', edit_skillset_role_path(skillset_role) %></td>
    <td><%= link_to 'Destroy', skillset_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Skillset role', new_skillset_role_path %>
