<h2>アサインするメンバを選んでください</h2>
<br>
<%= form_for @assignment, :url => {:action => 'assigningmember'} do |f| %>
<table class="table">
   <tr>
    <th>選択</th>
    <th>社員コード</th>
    <th>姓名</th>
    <% @skillsets.each do | skillset | %>
      <th><%= skillset.name %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @members.each do | member | %>
    <tr>
    <td><%= check_box_tag 'members[]', member.id %></td>
    <td><%= member.code %></td>
    <td><%= member.name %></td>
    <% member.all_skillEvaluations.each do | eval | %>
      <td><%= eval.evaluation %></td>
    <% end %>    
    </tr>
  <% end %>
  </table>

<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
