<p id="notice"><%= notice %></p>

<h2>ご要望の詳細</h2>

<p>
  <b>案件名:</b>
  <%= @assignment.anken.name %>
</p>

<p>
  <b>開始日:</b>
  <%= @assignment.from %>
</p>

<p>
  <b>終了日:</b>
  <%= @assignment.to %>
</p>

<p>
  <b>役割について:</b>
  <%= @assignment.roleComment %>
</p>

<p>
  <b>ステータス:</b>
  <%= @assignment.status %>
</p>

<p>
  <b>ご要望要員数:</b>
  <%= @assignment.num_engineer %>
</p>

<p>
<%= link_to 'ご要望情報の編集', edit_assignment_path(@assignment) %>
</p>

<p>
  <br />
  <b>アサイン済メンバ</b>
	<table class="table">
	  <tr>
	    <th>社員コード</th>
	    <th>姓名</th>
	    <th>Ｅメール</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @assignment.members.each do |member| %>
	  <tr>
	    <td><%= member.code %></td>
	    <td><%= member.name %></td>
	    <td><%= member.email %></td>
	    <td><%= link_to 'メンバ情報', member %></td>
	    <td><%= link_to 'リリース', '/assignments/release/' + @assignment.id.to_s + '/' + member.id.to_s, data: { confirm: 'リリースしてよろしいですか？' } %></td>
	  </tr>
	<% end %>
    <tr> <td></td> <td></td> <td></td>
    <td>
    <%= link_to 'アサイン', new_member_for(@assignment) %>
    </td></tr>
	</table>
</p>
<br>
<!--= link_to 'Back', assignments_path %-->
<%= link_to '案件に戻る', @assignment.anken %>

