<p id="notice"><%= notice %></p>

<h2>ご要望の詳細</h2>

<p>
  <b>Name:</b>
  <%= @assignment.anken.name %>
</p>

<p>
  <b>From:</b>
  <%= @assignment.from %>
</p>

<p>
  <b>To:</b>
  <%= @assignment.to %>
</p>

<p>
  <b>Rolecomment:</b>
  <%= @assignment.roleComment %>
</p>

<p>
  <b>Status:</b>
  <%= @assignment.status %>
</p>

<p>
  <b>Num_engineer:</b>
  <%= @assignment.num_engineer %>
</p>

<p>
  <br />
  <b>アサイン済メンバ</b>
	<table class="table">
	  <tr>
	    <th>社員コード/th>
	    <th>姓名</th>
	    <th>Ｅメール</th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @assignment.members.each do |member| %>
	  <tr>
	    <td><%= member.code %></td>
	    <td><%= member.name %></td>
	    <td><%= member.email %></td>
	    <td><%= link_to 'Show', member %></td>
	    <td><%= link_to 'release', '/assignments/release/' + @assignment.id.to_s + '/' + member.id.to_s, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
    <tr> <td></td> <td></td> <td></td>
    <td>
    <%= link_to 'メンバアサイン', new_member_for(@assignment) %>
    </td></tr>
	</table>
</p>
<br>
<br>
<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<!--= link_to 'Back', assignments_path %-->
<%= link_to 'Back', @assignment.anken %>

