<h1><b>メインメニュー</b></h1>
<br>
<%= link_to '案件一覧', ankens_path %>
<br>
<br>
<br>
<br>
<b>マスタ管理</b>
<br>
<p><%= link_to 'メンバー管理', members_path %></p>
<p><%= link_to '部門管理', depts_path %></p>
<p><%= link_to 'スキル管理(役割)', skillset_roles_path %></p>
<p><%= link_to 'スキル管理(言語他)', skillset_langs_path %></p>
<br>
<br>
<br>
