<h1><b>メインメニュー</b></h1>
<br>
<%= link_to '案件一覧', ankens_path %>
<br>
<p><%= link_to 'メンバー一覧', members_path %></p>
<p><%= link_to 'メンバー一覧(シェル)', 'members_by_shell' %></p>
<p><%= link_to 'メンバー一覧(シェル)', 'members_on_grid' %></p>
<br>
<br>
<br>
<b>マスタ管理</b>
<br>
<p><%= link_to '部門管理', depts_path %></p>
<p><%= link_to 'スキル管理', skillsets_path %></p>
<br>
<br>
<br>
