<h1>Main Menu</h1>
<br>
<%= link_to '案件一覧', ankens_path %>
<br>
<br>
<%= link_to 'メンバー管理', members_path %>
<br>
<br>
<b>マスタ管理</b>
<br>
<%= link_to '部門管理', depts_path %>
<br>
<%= link_to 'スキル管理(役割)', skillset_roles_path %>
<br>
<%= link_to 'スキル管理(言語他)', skillset_langs_path %>
<br>
<br>
<br>
