<h1部門一覧</h1>

<table class="table">
  <tr>
    <th>部門コード</th>
    <th>部門名</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @depts.each do |dept| %>
  <tr>
    <td><%= dept.code %></td>
    <td><%= dept.name %></td>
    <td><%= link_to '表示', dept %></td>
    <td><%= link_to '編集', edit_dept_path(dept) %></td>
    <td><%= link_to '削除', dept, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
  </tr>
<% end %>
  <tr>
    <td></td> <td></td> <td colspan="2"><%= link_to '部門追加', new_dept_path %></td> <td><%= link_to 'CSVダウンロード', depts_path(format:"csv") %></td>
  </tr>
</table>
<%= will_paginate @members, :previous_label=>'≪前', :next_label=>'次≫' %>

<br />
<br />
<%= form_tag 'depts/upload', :multipart => true do %>
  部門一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>

