<h1>Listing depts</h1>

<table class="table">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @depts.each do |dept| %>
  <tr>
    <td><%= dept.code %></td>
    <td><%= dept.name %></td>
    <td><%= link_to 'Show', dept %></td>
    <td><%= link_to 'Edit', edit_dept_path(dept) %></td>
    <td><%= link_to 'Destroy', dept, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dept', new_dept_path %>
