<p id="notice"><%= notice %></p>

<p>
  <b>部門コード:</b>
  <%= @dept.code %>
</p>

<p>
  <b>部門名:</b>
  <%= @dept.name %>
</p>


<%= link_to '部門の編集', edit_dept_path(@dept) %> |
<%= link_to '部門一覧', depts_path %>
