<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @skillset_lang.name %>
</p>

<p>
  <b>Memo:</b>
  <%= @skillset_lang.memo %>
</p>


<%= link_to 'Edit', edit_skillset_lang_path(@skillset_lang) %> |
<%= link_to 'Back', skillset_langs_path %>
