<h1 class="title">案件一覧</h1>
<h3><b>検索条件</b></h3>
<%= form_tag "/ankens/index" do %>
<table id = "square">
  <tr>
    <td width="80" >部門     </td>
    <td width="120"><%= collection_select(:search, :dept_id, @depts, :id, :name, :include_blank => true, :selected => @searched.fetch('dept_id', ""))%></td>
  </tr>
  <tr>
    <td width="80" >案件名   </td>
    <td width="120"><%= text_field :search, :ankenname, :value => @searched.fetch('ankenname', "") %><br /></td>
    <td width="80" >お客様名   </td>
    <td width="120"><%= text_field :search, :customer, :value => @searched.fetch('customer', "") %><br /></td>
  </tr>
</table>
<%= submit_tag "検索" %>
<br />
<br />
<% end %>
<br />
<table class="table">
  <tr>
    <th>案件名</th>
    <th>お客様</th>
    <th>想定受注金額</th>
    <th>メモ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ankens.each do |anken| %>
  <tr>
    <td><%= anken.name %></td>
    <td><%= anken.customer %></td>
    <td><%= anken.estimatePrice %></td>
    <td><%= anken.memo %></td>
    <td><%= link_to '詳細', anken %></td>
    <td><%= link_to '編集', edit_anken_path(anken) %></td>
    <td><%= link_to '削除', anken, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
  </tr>
<% end %>
  <tr>
  <td colspan="4"></td><td colspan="2"><%= link_to '案件追加', new_anken_path %></td><td><%= link_to 'CSVダウンロード', ankens_path(format:"csv") %></td>
  </tr>
</table>
<%= will_paginate @ankens, :previous_label=>'≪前', :next_label=>'次≫' %>

<br />
<br />
<%= form_tag 'ankens/upload', :multipart => true do %>
  案件一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>
