<h1 class="title">案件一覧</h1>

<table class="table">
  <tr>
    <th>案件名</th>
    <th>お客様</th>
    <th>想定受注金額</th>
    <th>メモ</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ankens.each do |anken| %>
  <tr>
    <td><%= anken.name %></td>
    <td><%= anken.customer %></td>
    <td><%= anken.estimatePrice %></td>
    <td><%= anken.memo %></td>
    <td><%= link_to '表示', anken %></td>
    <td><%= link_to '編集', edit_anken_path(anken) %></td>
    <td><%= link_to '削除', anken, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
  </tr>
<% end %>
  <tr>
  <td colspan="4"></td><td colspan="2"><%= link_to '案件追加', new_anken_path %></td><td><%= link_to 'CSVダウンロード', ankens_path(format:"csv") %></td>
  </tr>
</table>
<%= will_paginate @ankens, :previous_label=>'≪前', :next_label=>'次≫' %>

<br />
<br />
<%= form_tag 'ankens/upload', :multipart => true do %>
  案件一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>
