<p id="notice"><%= notice %></p>

<h2>案件情報</h2>

<p>
  <b>案件名:</b>
  <%= @anken.name %>
</p>

<p>
  <b>お客様:</b>
  <%= @anken.customer %>
</p>

<p>
  <b>想定受注金額:</b>
  <%= @anken.estimatePrice %>
</p>

<p>
  <b>メモ:</b>
  <%= @anken.memo %>
</p>

<p>
  <b>ステータス:</b>
  <%= @anken.ankenstatus.name %>
</p>

<p>
  <b>主管部署:</b>
  <%= @anken.dept.name %>
</p>
<p>
<%= link_to '案件情報の編集', edit_anken_path(@anken) %>
</p>

<br />
<h3>ご要望事項</h3>
<table class="table">
  <tr>
    <th>From</th>
    <th>To</th>
    <th>役割</th>
    <th>ご要望要員数</th>
    <th>アサイン済要員数</th>
    <th>ステータス</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @anken.assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.from %></td>
    <td><%= assignment.to %></td>
    <td><%= assignment.roleComment %></td>
    <td><%= assignment.num_engineer %></td>
    <td><%= assignment.members.size %></td>    
    <td><%= assignment.status %></td>
    <td><%= link_to '表示', assignment %></td>
    <td><%= link_to '編集', edit_assignment_path(assignment) %></td>
    <td><%= link_to '削除', assignment, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
  </tr>
<% end %>
    <tr> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
    <td>
    <%= link_to 'ご要望事項の追加', new_assignment_with(@anken) %>
    </td></tr>
</table>
<br>
<%= link_to '案件一覧', ankens_path %>
