<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <br>
  <table>
    <% @member.all_skillEvaluations.each do | eval | %>
    <tr>
    <td><%= eval.skillset.name %></td>
    <td><%= select_tag 'skillset[' + eval.id.to_s + ']', options_for_select(['　','○','△','×'], eval.evaluation) %></td>
    </tr>
    <% end %>
  </table>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
