<h1>メンバ一覧</h1>

<table class="table">
  <tr>
    <th>社員コード</th>
    <th>姓名</th>
    <th>Ｅメール</th>
    <% @skillsets.each do | skillset | %>
      <th><%= skillset.name %></th>
    <% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.code %></td>
    <td><%= member.name %></td>
    <td><%= member.email %></td>
    <% member.all_skillEvaluations.each do | eval | %>
      <td><%= eval.evaluation %></td>
    <% end %>
    <td><%= link_to '表示', member %></td>
    <td><%= link_to '編集', edit_member_path(member) %></td>
    <td><%= link_to '削除', member, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
  </tr>
<% end %>
  <tr>
  <td colspan="3"></td>
  <td colspan="2"><%= link_to '新規メンバー', new_member_path %></td>
  <td colspan="1"><%= link_to 'CSVダウンロード', members_path(format:"csv") %></td>
  </tr> 
</table>
<%= will_paginate @members, :previous_label=>'≪前', :next_label=>'次≫' %>
<br />
<br />
<%= form_tag 'members/upload', :multipart => true do %>
  メンバー一括登録:（*.csv）
  <%= file_field_tag 'upload_file', :accept => 'text/comma-separated-values' %>
  <%= submit_tag "アップロード", :confirm => "アップロードしていいですか？" %>
<% end %>
<br />
