<p id="notice"><%= notice %></p>

<p>
  <b>社員コード:</b>
  <%= @member.code %>
</p>

<p>
  <b>姓名:</b>
  <%= @member.name %>
</p>

<p>
  <b>Ｅメール:</b>
  <%= @member.email %>
</p>

<p>
<%= link_to 'メンバの編集', edit_member_path(@member) %>
</p>

<br/>
<p>
  <b><%= @member.name %>さんのアサイン状況</b>
	<table class="table">
	  <tr>
	    <th>From</th>
	    <th>To</th>
	    <th>案件名</th>    
	    <th>お客様</th>    
	    <th>役割</th>
	    <th>案件スタータス</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	  <% @member.assignments.each do |assignment| %>
	  <tr>
	    <td><%= assignment.from %></td>
	    <td><%= assignment.to %></td>
	    <td><%= assignment.anken.name %></td>
	    <td><%= assignment.anken.customer %></td>
	    <td><%= assignment.roleComment %></td>
	    <td><%= assignment.status %></td>
	    <td><%= link_to '表示', assignment %></td>
	    <td><%= link_to '編集', edit_assignment_path(assignment) %></td>
	    <td><%= link_to 'リリース', '/assignments/release/' + assignment.id.to_s + '/' + @member.id.to_s, data: { confirm: 'リリースしてよろしいですか？' } %></td>
	  </tr>
	  <% end %>
	</table>
</p>

<%= link_to 'メンバ一覧', members_path %>
